/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 May, 2019, 11:41:12 AM
    Author     : RAJEEMA
*/
#top_nav{
    background-color: aqua;
}
#main_menu_s {
    background-color: aqua;
}

#footer_s {
    background-color: aqua;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}